body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  font-family: "Arial", sans-serif;
  overflow: hidden;
  position: relative;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #d32f2f;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.header_text {
  font-size: 3em;
  color: #d32f2f;
  animation: breathe 2s infinite;
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff6b6b;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 50% 75%, 18% 100%, 0% 38%);
  animation: float 5s infinite ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
}

.buttons {
  margin-top: 20px;
}

.yes-button,
.no-button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.yes-button {
  background-color: #4caf50;
  color: white;
}

.no-button {
  background-color: #f44336;
  color: white;
}

.yes-button:hover,
.no-button:hover {
  transform: scale(1.1);
}

.gif_container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  width: 300px;
}
