body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  font-family: "Arial", sans-serif;
  overflow: hidden;
  position: relative;
}

.container {
  text-align: center;
}

.header_text {
  font-size: 3em;
  color: #d32f2f;
  animation: breathe 2s infinite;
}

.gif_container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff6b6b;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 50% 75%, 18% 100%, 0% 38%);
  animation: float 5s infinite ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
}
